.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #374151;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  color: #ddd;
  font-size: 14px;
}
.pagination__page-number {
  font-size: 18px;
  font-family: 'Bree Serif';
  margin: 0;
}
